<div class="file-system-header">
    <button (click)="addFolder()">Add Folder</button>
    <button (click)="addFile()">Add File</button>
    •
    <button [ngClass]="{'disabled': currentFrame === 0}" (click)="back()">
        <
    </button>
    <button [ngClass]="{'disabled': currentFrame >= history.length - 1}" (click)="forward()">
        >
    </button>
    <div *ngIf="currentFolder" class="current-folder-title">
        Current folder: {{currentFolder.title}}
    </div>
</div>

<div *ngIf="currentFolder">
    <a *ngFor="let child of currentFolder.children">
        <file
            *ngIf="child.type === 'file'"
            [file]="child"
            (selectFile)="selectFile($event)">
        </file>
        <folder
            *ngIf="child.type === 'folder'"
            [folder]="child"
            (selectFolder)="selectFolder($event)">
        </folder>
    </a>
</div>
