<div class="file-system-header">
    <button [ngClass]="{'disabled': currentFrame === 0}" (click)="back()">
        <
    </button>
    <button [ngClass]="{'disabled': currentFrame >= history.length - 1}" (click)="forward()">
        >
    </button>
    <div *ngIf="currentFolder" class="current-folder-title">
        {{currentFolder.title}}
    </div>
</div>

<div *ngIf="currentFolder">
    <folder
        *ngFor="let child of currentFolder.children"
        [folder]="child"
        (selectFolder)="selectFolder($event)">
    </folder>
</div>
